.imageback1{
	opacity:1;
}
.elementor-icon-box-wrapper{
	font-style: italic;
	background-color: gray;
}
.mission{
    font-size: 1.2em;
}
.elementor-31 .elementor-element.elementor-element-9122870:not(.elementor-motion-effects-element-type-background), .elementor-31 .elementor-element.elementor-element-9122870 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
	    background-image: var(--e-bg-lazyload-loaded);
    --e-bg-lazyload: url("IMG-20240504-WA0026 (1).jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-icon-box-icon,.elementor-element .elementor-element-8598032{
	color:blue;
}
div{
	border:200 px solid black;
}
footer{
	background-color: gray;
}