.imageback1{
	opacity:1;
}
.elementor-icon-box-wrapper{
	font-style: italic;
	background-color: gray;
}
.mission{
    font-size: 1.2em;
}
.elementor-31 .elementor-element.elementor-element-9122870:not(.elementor-motion-effects-element-type-background), .elementor-31 .elementor-element.elementor-element-9122870 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
	    background-image: var(--e-bg-lazyload-loaded);
    --e-bg-lazyload: url("https://private-user-images.githubusercontent.com/163284022/329363792-a90bf8c7-721c-4487-bbc5-88ca36eea2f7.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTUyODMyMzksIm5iZiI6MTcxNTI4MjkzOSwicGF0aCI6Ii8xNjMyODQwMjIvMzI5MzYzNzkyLWE5MGJmOGM3LTcyMWMtNDQ4Ny1iYmM1LTg4Y2EzNmVlYTJmNy5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwNTA5JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDUwOVQxOTI4NTlaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT02MzEzNDg5YjQxYmYwZjI3NDFiZGRkZDgzMWM2ZjQxNGVjZjJhMjYwMDc4ODg4NmViMWIzOWY2ZTFjMTcxNGYyJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.GAxjKaAT0uWll1YaLqWZZ0hL3dMxyWJY_npdirev79Q");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-icon-box-icon,.elementor-element .elementor-element-8598032{
	color:blue;
}
div{
	border:200 px solid black;
}
footer{
	background-color: gray;
}